.navBar {
  height: 10vh;
  padding: 0 1vw 0 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}

.btn {
  border: none;
  transition: transform 150ms ease-in-out;
  text-decoration: none;
  color: black;
}

.btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.btn:active {
  transform: scale(1);
}

.navBtns {
  margin-right: 5vw;
  display: flex;
  gap: 2vw;
  align-items: center;
}

.navBtn {
  composes: btn;
  border-radius: 0.5vw;
}

.iconBtn {
  display: flex;
  composes: btn;
  border-radius: 0.5vw;
}
